body {background-color: black;
	background-repeat: repeat-x;
}

body {
    margin: 0;
    overflow-x: hidden;
    background-color: black;
}

.bulle {
    position: absolute;
    animation: flottement 4s infinite ease-in;
  background-color: rgba(255, 255, 255, .05);
  border-radius: 50%;
}

@keyframes flottement {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(-1000px) rotate(360deg);
        opacity: 0;
    }
}

h1.header {
	padding: 100px;
	background-image: url("https://i.pinimg.com/736x/1f/b1/bd/1fb1bdcbb488b0353b50c7f283d40cb8.jpg");
	background-position: center;
	background-repeat: repeat-x;
	background-repeat: repeat-y;
	text-align: center;
	font-family: "Tmes New Roman", Helvetica, serif;
}


div.head {
	width: 100%;
}
#navigation {
	display: flex;
	flex-wrap: wrap;
	background-color: darkblue;
	list-style-type: none;
	padding: 0;
	margin: auto;
}
#navigation li {
	color: white;
	margin: 5px;
	text-align: center;
	padding: 4px 20px;
	background: black;
	border: 1px solid grey;
}
#navigation li a {
	
	color: white;
	font: 1em "Playwrite HU", cursive;
	line-height: 1em;
	text-align: center;
	text-decoration: none;
}
#navigation li:hover {
  background: darkblue ;
  text-decoration: underline ;
}
#navigation li a:focus, #navigation li a:active {
  text-decoration: underline ;
}
}
h2 {
	color: whitesmoke;
	text-align: center;
	font-family: "Playwrite HU", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

p{
	color: whitesmoke;
}

p.penacony{
	background-color: black;
	color: whitesmoke;
}

h3 {
	text-align: center;
}

summary {color: whitesmoke;
}
.center {text-align: center;
}

details {color: whitesmoke;
}

